@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 2000px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  /* border: solid 1px; */
}
.logo {
  font-family: 'Pacifico', cursive;
  color: lightseagreen;
}
ul {
  /* border: solid 1px; */
  display: flex;
  list-style: none;
  margin: 20px;
}

li a {
  font-family: sans-serif;
  color: black;
  margin: 20px;
  text-decoration: none;
}
.btn_1 {
  width: 70px;
  height: 30px;
  background-color: rgb(0, 255, 38);
  border: rgb(205, 177, 50) solid 1px;
  border-radius: 10px;
}
/* Section */
section {
  display: flex;
  justify-content: center;
}

section img {
  width: 500px;
}

.row {
  width: 300px;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .btn_1 {
    display: none;
  }
}
